header{
    background-color: rgb(44,62,80);
}

footer{
    background-color:rgb(59,84,109) ;
}

.about-content{
    background-color: rgb(23,188,157);
}

.hero{
    background-color: rgb(23,188,157);
}
img{
    width: 100%;
}

ul.ol,li{
    list-style: none;
}


input{
    border-style: none;
}


textarea{
    border-style: none;
}


.send-cta > a{ 
    background-color:rgb(23,188,157) ;
}


.start-bootstrap{
    color: rgb(23,188,157);
}